client_id = 565005015674035722 # Replace this with your Bot Client ID
token = "NTY1MDk1MDE1ODc0MDM1NzHy.XYOW7A.OGSIagj3b_p1fGbvX_bZKam_7x0" # Replace this with a real token
postgresql = "postgresql://<username>:<password>@127.0.0.1/<database>"
stat_webhook = (689305251588997121,
                "t4RcCe69WXT_Q1pSRGP3SFzcRBo_fQBo-2QWr34PzMg-KUZVAMqkNpy0ktLhqcS5rM6n")
twitch_headers = {"Client-ID": "4la4i9nltujg0bv86mgr6zt6p8vvfj",
                  "Authorization": "Bearer zpnybut3hdx6b9bx5j0jti11wjaiee", # Replace this with a real twitch secret
                  "User-Agent": "Robo-Hz v1.0"}
google_key = "GOOGLEKEYWOOOOO"