[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
# Discord
discord-py = {git = "https://github.com/Rapptz/discord.py", ref = "master"}
discord-ext-menus = {git = "https://github.com/Rapptz/discord-ext-menus",ref = "master"}
jishaku = "*"
# Others
asyncpg = "*"
psutil = "*"
googletrans = "*"
click = "*"
parsedatetime = "*"
lru-dict = "*"
python-dateutil = "*"
lxml = "*"
pytz = "*"
pygit2 = "*"
import-expression = "*"

[requires]
python_version = "3.8"
