# Discord

git+https://github.com/Rapptz/discord.py@master#egg=discord.py[voice]
git+https://github.com/Rapptz/discord-ext-menus@master#egg=discord-ext-menus
jishaku

# Extra nicies
asyncpg
psutil
googletrans

# Useful tools
click
parsedatetime
lru_dict
lxml
pygit2
pytz
python-dateutil